<div class="dashboard-grid">
  <div class="ds-title">
    <div class="t-col-1 ec-font-2">
      <i class="fal fa-ram"> </i> Birth & Death Tracking
    </div>
    <div class="separator mb-1"></div>
  </div>
  <div class="ds-content">
    <!-- class="header-less-tabs" -->
    <div class="">
      <button
        class="btn btn-primary btn-sm ec-btn-space ec-btn-shadow"
        (click)="mtg.selectedIndex = 0"
      >
        Seach Map
      </button>
      <button
        class="btn btn-primary btn-sm ec-btn-space ec-btn-shadow"
        (click)="mtg.selectedIndex = 1"
      >
        Choose Owner
      </button>
      <button
        class="btn btn-primary btn-sm ec-btn-space ec-btn-shadow"
        (click)="mtg.selectedIndex = 2"
      >
        Track Birth & Death
      </button>
    </div>
    <mat-tab-group #mtg>
      <mat-tab label="First">
        <app-search-place
          [tabData]="search"
          (changeTab)="handleChange($event)"
        ></app-search-place>
      </mat-tab>
      <mat-tab label="Second">
        <app-find-owner
          [tabData]="find"
          (changeTab)="handleChange($event)"
        ></app-find-owner>
      </mat-tab>
      <mat-tab label="Third">
        <app-tracking-ls-birth-death 
        [tabData]="track"
        (changeTab)="handleChange($event)"></app-tracking-ls-birth-death>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
