.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  
  
    .ds-title{
        grid-column: 1 / -1;
        grid-row: 1;
    }
  
    .ds-content{
        grid-column: 1 /-1;
        grid-row: 2;
    }
  }