.page-content {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    // align-items: center;
    // background-color: black;
  }
  .chart-container{
    width: 500px;
    height: 90vh;
  }