<!-- <mat-card class="m-3"> -->
<!-- <div class="row"> -->
<div class="d-flex justify-content-center mt-2">
  <mat-card class="c-border">
    <div
      class="t-col mt-2 mb-1 d-flex justify-content-center ec-font-2 font-weight-bolder"
    >
      Enter Owner's Details
    </div>
    <form
      autocomplete="off"
      [formGroup]="ownerForm"
      #ownerDirective="ngForm"
      (ngSubmit)="onSubmit(ownerDirective)"
    >
      <!-- -->
      <!-- addres fields -->
      <div class="f-row-1 m-2">
        <div class="p-col-1">
          <mat-card class="c-avata c-border">
            <div *ngIf="imageURL && imageURL !== ''">
              <img [src]="imageURL" class="image" />
            </div>
          </mat-card>
          <input
            type="file"
            id="uploadeImg"
            accept="image/*"
            (change)="showPreview($event)"
            class="d-none"
          />
          <!-- 
              formControlName="avatar"
              [alt]="uploadForm.value.name"
         -->
          <button
            class="btn btn-outline-primary btn-xs mt-2"
            onclick="document.getElementById('uploadeImg').click()"
          >
            Uploade Image
          </button>
        </div>
        <div class="add-col-2">
          <div class="add-row">
            <!-- name  -->
            <div class="f-col-1">
              Owner Name
            </div>
            <div class="f-col-2 span-2 w-wide">
              <input type="text" formControlName="onwerName" />
            </div>
            <!-- doorno -->
            <div class="f-col-1">
              Door No
            </div>
            <div class="f-col-2 span-2 w-wide">
              <input type="text" formControlName="door" />
            </div>
            <!-- street -->
            <div class="f-col-1">
              Street/Lane
            </div>
            <div class="f-col-2 span-2 w-wide">
              <input type="text" formControlName="street" />
            </div>
            <!-- landmark -->
            <div class="f-col-1">
              Landmark
            </div>
            <div class="f-col-2 span-2 w-wide">
              <input type="text" formControlName="landmark" />
            </div>
            <!-- pincode -->
            <div class="f-col-1">
              Pincode
            </div>
            <div class="f-col-2 d-flex justify-content-between">
              <input type="text" formControlName="pincode" />
              <button
                type="button"
                class="btn btn-outline-primary btn-xs"
                (click)="verifypin()"
              >
                Search Pincode
              </button>
            </div>
            <div class="invisible f-col-3">
              <button type="button" class="btn btn-outline-primary btn-xs">
                Search Pincode
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- separator title  -->
      <div class="f-row-2 m-2">
        <div><hr /></div>
        <div class="d-flex align-items-center ec-font-1 font-weight-bolder">
          Locate On Map
        </div>
        <div><hr /></div>
      </div>
      <!-- location fields -->
      <div class="f-row-3 m-2">
        <div class="location-row-1 m-2">
          <!-- place -->
          <div class="f-col-1">
            Place/Village
          </div>
          <div class="f-col-2 w-wide">
            <input type="text" formControlName="place" />
          </div>
          <div class="f-col-3 span-3 d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-outline-primary btn-xs"
              (click)="location()"
            >
              Search Place on Map
            </button>
          </div>
          <!-- town -->
          <div class="f-col-1">
            Town
          </div>
          <div class="f-col-2 w-wide">
            <input type="text" formControlName="town" />
          </div>
          <!-- taluk -->
          <div class="f-col-1">
            Taluk
          </div>
          <div class="f-col-2 w-wide">
            <input type="text" formControlName="taluk" />
          </div>
          <!-- district -->
          <div class="f-col-1">
            District
          </div>
          <div class="f-col-2 w-wide">
            <input type="text" formControlName="district" />
          </div>
          <!-- state -->
          <div class="f-col-1">
            State
          </div>
          <div class="f-col-2 w-wide">
            <input type="text" formControlName="state" />
          </div>
          <!-- country -->
          <div class="f-col-1">
            Country
          </div>
          <div class="f-col-2 w-wide">
            <input type="text" formControlName="country" />
          </div>
          <!-- Latitude -->
          <div class="f-col-1">
            Latitude
          </div>
          <div class="f-col-2 w-wide">
            <input type="text" formControlName="lat" />
          </div>
          <!-- Longitude -->
          <div class="f-col-1">
            Longitude
          </div>
          <div class="f-col-2 w-wide">
            <input type="text" formControlName="lag" />
          </div>

          <!-- save button -->
          <div class="f-col-1 span-3 d-flex justify-content-center">
            <button
              type="submit"
              class="btn btn-outline-primary btn-xs ec-font-1"
            >
              <i class="fal fa-save"></i> Save
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>
<!-- </div> -->
<!-- </mat-card> -->
