<div class="d-flex justify-content-center mt-2">
  <mat-card class="w-m-card">
    <!-- title starts -->
    <div class="m-1 mb-2 d-flex">
      <div class="d-flex justify-content-center align-items-center w-100">
        <p class="m-0 p-0 ec-font-2 font-weight-bold">
          Search Your Location
        </p>
      </div>
    </div>
    <!-- title ends -->
    <div>
      <div class="input-box">
        <input
          type="search"
          #input
          class="form-control"
          placeholder="Where are we going?"
          
          
        />
      </div>
      <div class="map-box">
        <div class="map" id="leafLetmap"></div>
      </div>
    </div>
  </mat-card>
</div>
