<!--  header start  -->
<div class="header-grid main main-raised fixed-top ml-3 mr-3">
  <div class="navbar">
    <div class="logo d-flex flex-row align-items-center navbar-left">
      <img
        src="../../../assets/img/lsodb-logo.svg"
        class="logo-img"
        alt="logo"
      />
      <span class="pl-2 h1 font-weight-bold">LSO-DB</span>
    </div>
  </div>
</div>
<!-- page content -->
<div class="pages-grid">
  <div class="page-subgrid">
    <!-- image -->
    <div class="homepage-image">
      <img
        src="../../../assets/img/livestock-t-01.svg"
        class="image-bg"
        alt="livestock"
      />
    </div>
    <!-- title -->
    <div class="homepage-title">
      <div class="title">Livestock Ownership Database</div>
    </div>
    <!-- card -->
    <div class="hompage-card">
      <!-- Master files maintance -->
      <div class="ec-card ec-round-corner ec-width-1 text-center">
        <div class="ec-card-header">
          <i class="fal fa-database  ec-icon mb-4"></i>
        </div>
        <div class="ec-card-content">
          <p class="card-text font-weight-bold ec-font-1">
    
            Master File Maintance
          </p>
        </div>
        <div class="ec-card-footer">
          <button class="btn btn-outline-primary btn-sm ec-font-1" (click)="handleLogin('masterFileMaintance')">
            Login
          </button>
        </div>
      </div>
      <!-- tracking Livestock -->
      <div class="ec-card ec-round-corner ec-width-1 text-center">
        <div class="ec-card-header">
          <i class="fal fa-tablet-alt  ec-icon mb-4"></i>
        </div>
        <div class="ec-card-content">
          <p class="card-text font-weight-bold ec-font-1">
            
            Livestock Tracking
          </p>
        </div>
        <div class="ec-card-footer">
          <button class="btn btn-outline-primary btn-sm ec-font-1" (click)="handleLogin('livestockTracking')" >
            Login
          </button>
        </div>
      </div>
      <!-- livestock Reports -->
      <div class="ec-card ec-round-corner ec-width-1 text-center">
        <div class="ec-card-header">
          <i class="fal fa-analytics  ec-icon mb-4"></i>
        </div>
        <div class="ec-card-content">
          <p class="card-text font-weight-bold ec-font-1">
          
            Livestock Reports
          </p>
        </div>
        <div class="ec-card-footer">
          <button class="btn btn-outline-primary btn-sm ec-font-1" (click)="handleLogin('livestockReports')">
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer  -->
<div class="footer-grid main main-footer-raised fixed-bottom   ml-3 mr-3">
  <div
    class="d-flex flex-row justify-content-between  p-3 font-weight-bold ec-footer"
  >
    <p class="ec-black ec-font-1">
      This Project is designed and guided by Easy-Cloud
    </p>
    <p class="ec-black ec-font-1">Mentor Mr.Sakar .SR</p>
    <p class="ec-black ec-font-1">
      Mail: sakar@easy-cloud.in <span> phone: 9362496202</span>
    </p>
  </div>
</div>
