<div class="dashboard-grid">
  <div class="ds-title">
    <p class="mt-3 mb-3 ec-font-2">
      <i class="fal fa-ram"></i> Livestock Details
    </p>
    <div class="separator mb-1 "></div>
  </div>
  <div class="ds-content">
    <mat-card class="card">
      <div class="input-form  d-flex flex-column">
        <mat-card-content>
          <p class="text-danger ec-font-0 ec-text-end">
            <i class="fal fa-info-circle pr-3"></i>Livestock name must be unique
          </p>
        </mat-card-content>
        <mat-card-content>
          <div class="ec-width-3">
            <form
              autocomplete="off"
              [formGroup]="lsDetailsForm"
              (ngSubmit)="onSubmit()"
              class="d-flex flex-row justify-content-around"
            >
              <div>
                <mat-form-field class="ec-input-width">
                  <mat-label
                    ><i class="fal fa-ram"></i>
                    Livestock Name
                  </mat-label>

                  <input
                    matInput
                    formControlName="lsName"
                    type="text"
                    placeholder=""
                  />
                  <mat-error
                    *ngIf="lsDetailsForm.get('lsName').errors?.required"
                  >
                    <i class="fas fa-times-circle"></i> Livestock Name is
                    Required!
                  </mat-error>
                </mat-form-field>
              </div>

              <div>
                <button
                  mat-raised-button
                  class="btn btn-outline-primary btn-xs ec-font-1"
                >
                  <i className="fal fa-save mr-3"></i>Save
                </button>
              </div>
            </form>
          </div>
          <div class="d-flex justify-content-center">
            <ag-grid-angular
              style="width: 600px; height: 600px;"
              class="ag-theme-material"
              [rowData]="rowData"
              [columnDefs]="columnDefs"
              [frameworkComponents]="frameworkComponents"
              (gridReady)="onGridReady($event)"
              [defaultColDef]="defaultColDef"
              [rowSelection]="rowSelection"
              [modules]="modules"
            >
            </ag-grid-angular>
          </div>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
