<div class="dashboard-grid">
  <!-- title -->
  <div class="ds-title">
    <div class="t-col-1 ec-font-2">
      <i class="fal fa-ram"> </i> Ownership Details
    </div>
    <div class="separator mb-1"></div>
  </div>

  <!-- content -->
  <div class="ds-content">
    <!-- tab header -->
    <div class="d-none tag-header mt-2">
      <button
        class="btn btn-primary btn-lg ec-mat-btn ec-btn-shadow"
        (click)="mtg.selectedIndex = 0"
      >
        View
      </button>
      <button
        class="btn btn-primary btn-lg ec-mat-btn ec-btn-shadow"
        (click)="mtg.selectedIndex = 1"
      >
        Add
      </button>
      <button
        class="btn btn-primary btn-lg ec-mat-btn ec-btn-shadow"
        (click)="mtg.selectedIndex = 2"
      >
        Livestock Details
      </button>
      <button
        class="btn btn-primary btn-lg ec-mat-btn ec-btn-shadow"
        (click)="mtg.selectedIndex = 3"
      >
        Pincode
      </button>
      <button
        class="btn btn-primary btn-lg ec-mat-btn ec-btn-shadow"
        (click)="mtg.selectedIndex = 4"
      >
        Map
      </button>
      <!-- <button
        class="btn btn-primary btn-lg ec-mat-btn ec-btn-shadow"
        (click)="mtg.selectedIndex = 5"
      >
        Village
      </button> -->
    </div>

    <mat-tab-group #mtg class="header-less-tabs">
      <mat-tab label="Tab 1">
        <app-view-tab></app-view-tab>
      </mat-tab>
      <mat-tab label="Tab 2">
        <app-add-tab></app-add-tab>
      </mat-tab>
      <mat-tab label="Tab 3">
        <app-lsdata-tab></app-lsdata-tab>
      </mat-tab>
      <mat-tab label="Tab 4">
        <app-pincode-tab></app-pincode-tab>
      </mat-tab>
      <mat-tab label="Tab 5">
        <app-map-tab></app-map-tab>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
